<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <form action="" method="POST" id="myForm">
        <input name="imie" type="text"><br>
        <input name="email" type="text"><br>
        <select>
            <option>
                Cos tam
            </option>

            <option>
                Cos tam 2
            </option>
        </select><br>
        <textarea name="message_content"></textarea><br>
        <button>Wyślij</button>
    </form>
    <script type="application/javascript" src="static/form.js"></script>
</body>
</html>